name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  build-and-test-package:
    name: Build and Test Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install build
      - name: Build Package
        run: python -m build
      - name: Install Package
        run: pip install -e .
      - name: Download Dataset
        run: download-eca -u ${{ secrets.SYNAPSE_USERNAME }} -p ${{ secrets.SYNAPSE_PASSWORD }}
      - name: Run Tests
        run: python setup.py test

  publish-to-testpypi:
    name: Publish To TestPyPI
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build-and-test-package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install build
      - name: Build Package
        run: python -m build
      - name: Publish Package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Install from PyPI
        run: pip install -i https://test.pypi.org/simple/ ecadataset
      - name: Download Dataset
        run: download-eca -u ${{ secrets.SYNAPSE_USERNAME }} -p ${{ secrets.SYNAPSE_PASSWORD }}
      - name: Run Tests
        run: python setup.py test

  publish-to-pypi:
    name: Publish Wheels To PyPI
    if: startsWith(github.ref, 'refs/tags/v')
    needs: publish-to-testpypi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install build
      - name: Build Package
        run: python -m build
      - name: Publish Package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
      - name: Install from PyPI
        run: pip install ecadataset
      - name: Download Dataset
        run: download-eca -u ${{ secrets.SYNAPSE_USERNAME }} -p ${{ secrets.SYNAPSE_PASSWORD }}
      - name: Run Tests
        run: python setup.py test
