name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  test-package:
    name: Test Package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Build Dependencies
        run: pip install --upgrade pip && pip install build
      - name: Build Package
        run: python -m build
      - name: Install Test Dependencies
        run: pip install parameterized git+https://github.com/deepmind/surface-distance.git
      - name: Install Package from Local
        run: pip install .
      - name: Download Dataset
        run: download-eca -u ${{ secrets.SYNAPSE_USERNAME }} -p ${{ secrets.SYNAPSE_PASSWORD }}
      - name: Run Tests
        run: python -m unittest

  publish_package_to_test_pypi:
    name: Publish Package to Test PyPI
    if: startsWith(github.ref, 'refs/tags/v')
    needs: test-package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Build Dependencies
        run: pip install --upgrade pip && pip install build
      - name: Build Package
        run: python -m build
      - name: Publish Package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
      - name: Install Test Dependencies
        run: pip install parameterized git+https://github.com/deepmind/surface-distance.git
      - name: Install Package from PyPI
        run: pip install --extra-index-url https://test.pypi.org/simple/ ecadataset
      - name: Download Dataset
        run: download-eca -u ${{ secrets.SYNAPSE_USERNAME }} -p ${{ secrets.SYNAPSE_PASSWORD }}
      - name: Run Tests
        run: python -m unittest

  publish_package_to_pypi:
    name: Publish Package to PyPI
    if: startsWith(github.ref, 'refs/tags/v')
    needs: publish_package_to_test_pypi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Build Dependencies
        run: pip install --upgrade pip && pip install build
      - name: Build Package
        run: python -m build
      - name: Publish Package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
      - name: Install Test Dependencies
        run: pip install parameterized git+https://github.com/deepmind/surface-distance.git
      - name: Install Package from PyPI
        run: pip install ecadataset
      - name: Download Dataset
        run: download-eca -u ${{ secrets.SYNAPSE_USERNAME }} -p ${{ secrets.SYNAPSE_PASSWORD }}
      - name: Run Tests
        run: python -m unittest
